body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header{
  text-align: center;
}
.container_calendar{
  display: flex;
  flex-direction: row;
}
.container_edition{
  text-align: center;
}
.container_calendar_inEdition{
  display: flex;
  flex-direction: row;
}
.check_face{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
}
a:link{
  text-decoration:none;
}
ul{
  list-style:none;
}

.face {
  width: 50px;
  height: 50px;
}

.face--happy{
  background-image: url('../images/happy.png');
  background-repeat:  no-repeat;
  background-size: cover;
}

.face--unhappy
{
  background-image: url('../images/unhappy.png');
  background-repeat:  no-repeat;
  background-size: cover;
}

.calendar_item{
 overflow: hidden;
 width: 50px;
 white-space: nowrap;

}

.calendar_message{
   text-overflow: ellipsis;
   display: block;
   overflow: hidden;
}
